body 
{
	
font-family: "Calibri";

}



a {

color: black;

}



a:hover 
{
	
color: black;

}



a:link 
{
	
text-decoration: none;

}


.title {
	
text-align: left;
	
color: black;
	
background-color: #f9db2a;
	
letter-spacing: 2px;

}



.header
{
	
text-align: center;
	
font-family: helvetica;
	
font-size: 70px;
	
margin-top: 50px;
	
margin-bottom: 50px;
	
color: #f9db2a;
	
letter-spacing: 2px;

}


.Box
{
	
align-content: center;
	
width: 300px;
	
height: 30px;
	
margin-left: 42%;
	
display: block;
	
text-align: left;
	
font-size: 18px;

}



.button {
	
margin-left: 60px;
	
color: #f9db2a;
	
border-color: #f9db2a;

}



.button:hover {
	
background-color: #f9db2a;
	
color: black;
	
border-color: #f9db2a;

}



.input {
	
border-radius: 3px;
	
margin-bottom: 3px;

}